.menubarlogo{
    width: 5vw;
    height:10vh;
}
.cardimage{
    background-image: url("https://static1.bigstockphoto.com/6/3/3/large1500/336994330.jpg");
    background-size: cover;
    height: 75vh;
}
.loctionbutton{
    background-color: transparent;
    color: rgb(185, 197, 206);
    border-radius: 30px;
    border-width: 1px;
}
.smallcard{
border-radius: 20px;
height: 70vh;
width: 100%;
}